.rootContainer {
    padding: 36px;
    height: 100%;
    width: 100%;
    background: rgba(190,200,200,0.2);
}

.RootContainer {

}

.FormContainer {
    max-width: 800px;
    min-width: 200px;
}

.ResultContainer {
    max-width: 800px;
    min-width: 200px;
}

.divNextBtn {
    margin-top: 24px;
    min-height: 36px;
}